/* Colors */
$red-500: #F44336;
$pink-500: #E91E63;
$purple-500: #9C27B0;
$deep-purple-500: #673AB7;
$indigo-500: #3F51B5;
$blue-500: #2196F3;
$light-blue-500: rgb(73, 188, 241);
$light-blue-100: #B3E5FC;
$cyan-500: #00BCD4;
$teal-500: #009688;
$green-500: #4CAF50;
$amber-500: #FFC107;
$amber-50: #FFF8E1;
$amber-100 : #FFECB3;
$orange-500: #FF9800;
$tag-commander-purple: #ed2186;

.red-500 {
    background-color: $red-500;
    color: #fff;
    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover{
        border-bottom: #fff 2px solid;
    }
}
.pink-500 {
    background-color: $pink-500;
    color: #fff;
    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover{
        border-bottom: #fff 2px solid;
    }
}
.purple-500 {
    background-color: $purple-500;
    color: #fff;
    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover{
        border-bottom: #fff 2px solid;
    }
}
.deep-purple-500 {
    background-color: $deep-purple-500;
    color: #fff;
    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover{
        border-bottom: #fff 2px solid;
    }
}
.indigo-500 {
    background-color: $indigo-500;
    color: #fff;
    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover{
        border-bottom: #fff 2px solid;
    }
}
.blue-500 {
    background-color: $blue-500;
    color: #fff;
    a {
        color: #000;
        text-decoration: none;
    }
    a:hover{
        border-bottom: #000 2px solid;
    }
}
.light-blue-500 {
    background-color: $light-blue-500;
    color: #000;
    a {
        color: #000;
        text-decoration: none;
    }
    a:hover{
        border-bottom: #000 2px solid;
    }
}
.light-blue-100 {
    background-color: $light-blue-100;
    color: #000;
}
.cyan-500 {
    background-color: $cyan-500;
    color: #000;
    a {
        color: #000;
        text-decoration: none;
    }
    a:hover{
        border-bottom: #000 2px solid;
    }
}
.teal-500 {
    background-color: $teal-500;
    color: #fff;
    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover{
        border-bottom: #fff 2px solid;
    }
}
.green-500 {
    background-color: $green-500;
    color: #fff;
    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover{
        border-bottom: #fff 2px solid;
    }
}
.amber-50 {
    background-color: $amber-50;
    color: #000;
    a {
        color: #000;
        text-decoration: none;
    }
    a:hover{
        border-bottom: #000 2px solid;
    }
}
.tag-50 {
    background-color: #fff;
    color: #506A85;
    a {
        color: #506A85;
        text-decoration: none;
    }
    a:hover{
        border-bottom: #EB0149 2px solid;
    }
}

$nav-height: 80px;