<template>

  <section class="index">
    <h1>VueJS Tag Commander</h1>
    This service lets you integrate Tag Commander in your VueJs applications easily. Official website
    <h2>Features</h2>
    <ul>
      <li>automatic page tracking</li>
      <li>event catching</li>
      <li>multiple containers</li>
    </ul>
    <h1> Copy Install process and Utils process here </h1>
  </section>
</template>

<script>
  export default  {
    name: 'index'
}
</script>

