<template>
  
<section class="shop">
  <div class="msg-card-displayed" v-if="buyMsg">
    Thanks you for your purchase
    <i class="material-icons" @click="closeMsgDisplayed()">clear</i>
  </div>
  <!--<div class="msg-card-empty" v-if="emptyMsg">
    Your cart is empty !!!
    <i class="material-icons" @click="closeMsgEmpty()">clear</i>
  </div>-->
  <h1 class='main-eshop-title'>E-commerce page</h1>
  <div class='article-container'>
    <div class='left-container'>
      <div class="item-name">
        <page-item-name :product="product" />
      </div>
      <div class="image-container">
        <img src="../assets/Tag-Commander.png" />
      </div>
      <div class=product-information>
        <h5>Product Information</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </div>
      <div>
        <h5>Quantity</h5>
        <div class="quantity-handler-container">
          <page-item :product="product" :items="items" />
        </div>
      </div>
    </div>
    <div class='right-container'>
      <div class="cart tag-50">
        <h3>Cart</h3>
        <cart-item :items="items" />
        <div class="total-price">
          <span>Total:</span>
          <grand-total :items="items" :product="product" />
          <checkout :items="items" @clicked="resetCart(items)"></checkout>
        </div>
      </div>
    </div>
  </div>
</section>

</template>

<script>

import pageItemName from './ShopElements/page-item-name.js'
import pageItem from './ShopElements/page-item.js'
import cartItem from './ShopElements/cart-item.js'
import grandTotal from './ShopElements/grand-total.js'
import checkout from './ShopElements/checkout.js'

export default {
  name: 'Shop',
  data() {
      return {
        product : { id: 1, name: 'TagCommander', quantity: 0, price: 20, currency: '€' },
        items: [
            { id: 2, name: 'TagCommanderBis', quantity: 2, price: 90, currency: '€' },
            { id: 3, name: 'TagCommanderTer', quantity: 5, price: 40, currency: '€' }
        ],
        buyMsg: false,
        emptyMsg: false
      }
  },
  methods: {
      resetCart(items) {
        this.items = []
        this.buyMsg = true
        this.emptyMsg = false
      },
      closeMsgDisplayed() {
          this.buyMsg = false
      },
      closeMsgEmpty() {
        this.emptyMsg = false
      }

  },
  components: {
      pageItemName,
      pageItem,
      cartItem,
      grandTotal,
      checkout
  }
}

</script>
